@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.Options

@inject IOptions<PassFreeOptions> Options

<div class="passfree-login">
    <h2>@Options.Value.PageTitle</h2>
    <form method="post" action="@Options.Value.LoginPath" @formname="passfree-login-form" data-enhance="false">
        <div class="passfree-form-group">
            <label for="emailaddress">Email Address</label>
            <input type="text" id="emailaddress" name="emailaddress" required/>
            <input type="submit" value="Submit"/>
        </div>
        <AntiforgeryToken/>
    </form>

    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="passfree-error">@ErrorMessage</div>
    }
</div>

@code {
    [SupplyParameterFromQuery] private string? ErrorMessage { get; set; }

    protected override void OnInitialized()
    {
    }

}
